# Non-negative matrix factorization with sparsity constraints using Autograd

In a [previous post](./nnmf-tensorflow.html), we had seen how to perfom non-negative matrix factorization (NNMF) using Tensorflow. In this post, we will look at performing NNMF using [Autograd](https://github.com/HIPS/autograd). Like Tensorflow, Autograd allows automatic gradient calculation.

### Customary imports

In [22]:
import autograd.numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Creating the matrix to be decomposed

In [23]:
A = np.array([[3, 4, 5, 2],
                   [4, 4, 3, 3],
                   [5, 5, 4, 3]], dtype=np.float32).T

### Masking one entry

In [24]:
len(A[A!=0])

12

In [25]:
np.sum(np.abs(A))

45.0

In [26]:
A[0, 0] = np.NAN

In [27]:
A.shape

(4, 3)

In [28]:
np.sum(A[A!=0])

nan

### Defining the cost function

In [29]:
H

array([[ 1.76405235,  0.40015721,  0.97873798],
       [ 2.2408932 ,  1.86755799,  0.97727788],
       [ 0.95008842,  0.15135721,  0.10321885],
       [ 0.4105985 ,  0.14404357,  1.45427351],
       [ 0.76103773,  0.12167502,  0.44386323],
       [ 0.33367433,  1.49407907,  0.20515826],
       [ 0.3130677 ,  0.85409574,  2.55298982],
       [ 0.6536186 ,  0.8644362 ,  0.74216502],
       [ 2.26975462,  1.45436567,  0.04575852],
       [ 0.18718385,  1.53277921,  1.46935877]])

In [171]:
def cost(W, H, lam=1, norm="2,1"):
    pred = np.dot(W, H)
    mask = ~np.isnan(A)
    if norm=="2,1":
        # First L2 over rows and then L1 over result
        penalty = np.mean(np.sqrt(np.sum(H**2, axis=0)))
    elif norm=="0":
        penalty = np.sum(H[H!=0])
    return np.sqrt(((pred - A)[mask].flatten() ** 2).mean(axis=None)) + lam*penalty

### Decomposition params

In [172]:
rank = 10
learning_rate=0.01
n_steps = 10000

### Gradient of cost wrt params W and H

In [173]:
from autograd import grad, multigrad
grad_cost= multigrad(cost, argnums=[0,1])

### Main gradient descent routine

In [178]:
shape = A.shape
np.random.seed(0)
H =  np.abs(np.random.randn(rank, shape[1]))
W =  np.abs(np.random.randn(shape[0], rank))
print "Iteration, Cost"
for i in range(n_steps):
    
    if i%100==0:
        print "*"*20
        print i,",", cost(W, H)
        mask = ~np.isnan(A)
        print np.sqrt(((np.dot(W, H) - A)[mask].flatten() ** 2).mean(axis=None)), np.mean(np.sqrt(np.sum(H**2, axis=0)))
    del_W, del_H = grad_cost(W, H)
    W =  W-del_W*learning_rate
    H =  H-del_H*learning_rate
    
    # Ensuring that W, H remain non-negative. This is also called projected gradient descent
    W[W<0] = 0.
    H[H<0] = 0.

Iteration, Cost
********************
0 , 7.8074674545
4.11660945144 3.69085800306
********************
100 , 3.77696419877
0.831569470895 2.94539472787
********************
200 , 2.9374193837
0.309072202323 2.62834718138
********************
300 , 2.47142401099
0.060994596725 2.41042941427
********************
400 , 2.20564132862
0.00404946380567 2.20159186482
********************
500 , 2.01255024411
0.00418481657025 2.00836542754
********************
600 , 1.8598780115
0.0188892164873 1.84098879501
********************
700 , 1.7179434289
0.0144148799476 1.70352854895
********************
800 , 1.60671559017
0.0159317133041 1.59078387687
********************
900 , 1.5177987394
0.0168379626974 1.5009607767
********************
1000 , 1.44735576901
0.017713885629 1.42964188338
********************
1100 , 1.39085910342
0.0185650531293 1.37229405029
********************
1200 , 1.34472119362
0.0194076215818 1.32531357204
********************
1300 , 1.30616339893
0.0202463274503 1.28591707148
********************
1400 , 1.27316526814
0.0210814840763 1.25208378406
********************
1500 , 1.24430883662
0.0219119620944 1.22239687452
********************
1600 , 1.21861350066
0.0227364392625 1.19587706139
********************
1700 , 1.19540059681
0.0235538288363 1.17184676798
********************
1800 , 1.17419448571
0.0243633662217 1.14983111948
********************
1900 , 1.1546545971
0.0251645743344 1.12949002276
********************
2000 , 1.13653030737
0.0259571986017 1.11057310877
********************
2100 , 1.11963151338
0.0267411448662 1.09289036852
********************
2200 , 1.10380958029
0.0275164296971 1.07629315059
********************
2300 , 1.08894499059
0.0282831436794 1.06066184691
********************
2400 , 1.07493926782
0.0290414254371 1.04589784238
********************
2500 , 1.06170961316
0.029791443713 1.03191816945
********************
2600 , 1.04918526627
0.0305333851881 1.01865188108
********************
2700 , 1.03730496991
0.0312674462737 1.00603752364
********************
2800 , 1.02601515082
0.0319938276034 0.994021323216
********************
2900 , 1.01526857429
0.032712730347 0.982555843948
********************
3000 , 1.00502331967
0.0334243537486 0.97159896592
********************
3100 , 0.995241979373
0.0341288934929 0.96111308588
********************
3200 , 0.985891018464
0.0348265406341 0.95106447783
********************
3300 , 0.976940252737
0.0355174809111 0.941422771826
********************
3400 , 0.968362416957
0.0362018943323 0.932160522625
********************
3500 , 0.960132803248
0.036879954948 0.9232528483
********************
3600 , 0.952228955228
0.0375518307586 0.914677124469
********************
3700 , 0.944630407221
0.0382176837164 0.906412723504
********************
3800 , 0.937318460411
0.0388776697973 0.898440790614
********************
3900 , 0.930275989615
0.0395319391193 0.890744050495
********************
4000 , 0.923487275666
0.040180636096 0.88330663957
********************
4100 , 0.916937859381
0.0408238996123 0.876113959769
********************
4200 , 0.910614413835
0.0414618632148 0.86915255062
********************
4300 , 0.904504632238
0.0420946553116 0.862409976927
********************
4400 , 0.898597129194
0.0427223993751 0.855874729819
********************
4500 , 0.892881353459
0.0433452141467 0.849536139312
********************
4600 , 0.88734751065
0.0439632138381 0.843384296812
********************
4700 , 0.881986494572
0.0445765083299 0.837409986243
********************
4800 , 0.876789826038
0.0451852033647 0.831604622674
********************
4900 , 0.871749598242
0.0457894007338 0.825960197508
********************
5000 , 0.866858427854
0.0463891984576 0.820469229397
********************
5100 , 0.862109411151
0.0469846909581 0.815124720193
********************
5200 , 0.857496084568
0.0475759692251 0.809920115343
********************
5300 , 0.853012389156
0.0481631209742 0.804849268182
********************
5400 , 0.848652638499
0.0487462307973 0.799906407701
********************
5500 , 0.84441148969
0.0493253803071 0.795086109383
********************
5600 , 0.840283917038
0.0499006482728 0.790383268765
********************
5700 , 0.836265188188
0.0504721107506 0.785793077438
********************
5800 , 0.832350842418
0.0510398412065 0.781311001212
********************
5900 , 0.828536670865
0.0516039106335 0.776932760232
********************
6000 , 0.824818698487
0.0521643876623 0.772654310825
********************
6100 , 0.821193167582
0.0527213386667 0.768471828915
********************
6200 , 0.817656522712
0.0532748278634 0.764381694848
********************
6300 , 0.814205396879
0.0538249174064 0.760380479472
********************
6400 , 0.810836598851
0.0543716674769 0.756464931374
********************
6500 , 0.807547101508
0.0549151363682 0.75263196514
********************
6600 , 0.804334031127
0.0554553805664 0.748878650561
********************
6700 , 0.801194657505
0.0559924548272 0.745202202678
********************
6800 , 0.798126384853
0.0565264122482 0.741599972605
********************
6900 , 0.795126743391
0.057057304338 0.738069439053
********************
7000 , 0.792193381567
0.0575851810816 0.734608200486
********************
7100 , 0.789324058871
0.0581100910024 0.731213967869
********************
7200 , 0.786516639162
0.0586320812216 0.72788455794
********************
7300 , 0.783769084488
0.059151197514 0.724617886974
********************
7400 , 0.78107944935
0.0596674843614 0.721411964989
********************
7500 , 0.778445875362
0.0601809850036 0.718264890358
********************
7600 , 0.77586658629
0.0606917414861 0.715174844804
********************
7700 , 0.773339883435
0.0611997947065 0.712140088729
********************
7800 , 0.770864141323
0.0617051844584 0.709158956864
********************
7900 , 0.768437803687
0.0622079494725 0.706229854214
********************
8000 , 0.766059379721
0.0627081274565 0.703351252264
********************
8100 , 0.76372744057
0.0632057551333 0.700521685437
********************
8200 , 0.761440616057
0.0637008682766 0.697739747781
********************
8300 , 0.759197591612
0.0641935017459 0.695004089866
********************
8400 , 0.756997105398
0.0646836895186 0.692313415879
********************
8500 , 0.754837945619
0.065171464722 0.689666480897
********************
8600 , 0.752718947991
0.0656568596632 0.687062088328
********************
8700 , 0.75063899337
0.0661399058576 0.684499087513
********************
8800 , 0.748597005523
0.066620634056 0.681976371467
********************
8900 , 0.746591949029
0.0670990742716 0.679492874757
********************
9000 , 0.744622827311
0.0675752558042 0.677047571507
********************
9100 , 0.742688680777
0.0680492072645 0.674639473512
********************
9200 , 0.74078858507
0.0685209565974 0.672267628473
********************
9300 , 0.738921649423
0.0689905311034 0.669931118319
********************
9400 , 0.737087015098
0.06945795746 0.667629057638
********************
9500 , 0.735283853922
0.0699232617418 0.66536059218
********************
9600 , 0.733511366899
0.0703864694401 0.663124897459
********************
9700 , 0.731768782901
0.0708476054808 0.66092117742
********************
9800 , 0.730055357425
0.0713066942432 0.658748663182
********************
9900 , 0.728370371427
0.0717637595762 0.65660661185

In [111]:
H[H<0] = 0.

In [179]:
pd.DataFrame(W)

,0,1,2,3,4,5,6,7,8,9
0,0.848175,1.642954,2.283753,4.442932,0.844876,0.750217,3.248048,2.581215,1.443529,1.266878
1,1.580067,1.950030,2.858395,4.329612,0.849971,0.620860,2.977379,1.801214,1.923315,0.986069
2,4.598746,2.939838,1.724074,3.188869,1.022232,0.441897,0.621784,1.059382,2.950799,1.136291
3,0.000000,0.131597,1.446627,2.732701,0.000000,2.043358,2.582847,0.967172,2.110048,0.347477

In [180]:
pd.DataFrame(H)

          0         1         2
0  0.397170  0.049224  0.111182
1  0.264946  0.073690  0.185207
2  0.167738  0.195871  0.251816
3  0.297669  0.354562  0.428839
4  0.094635  0.029068  0.091157
5  0.030001  0.178831  0.035849
6  0.071021  0.296880  0.300762
7  0.103100  0.145153  0.228574
8  0.251819  0.221511  0.132180
9  0.103313  0.064615  0.116890

In [181]:
pred = np.dot(W, H)
pred_df = pd.DataFrame(pred).round()
pred_df

     0    1    2
0  4.0  4.0  5.0
1  4.0  4.0  5.0
2  5.0  3.0  4.0
3  2.0  3.0  3.0

In [182]:
pd.DataFrame(A)

     0    1    2
0  NaN  4.0  5.0
1  4.0  4.0  5.0
2  5.0  3.0  4.0
3  2.0  3.0  3.0

In [74]:
np.count_nonzero(H)

15

In [76]:
H.size

15

In [75]:
H

array([[ 0.67465207,  0.30721673,  0.47904857],
       [ 0.18433676,  0.50632065,  0.63834613],
       [ 0.04810152,  0.28539869,  0.25933821],
       [ 0.46973566,  0.45846022,  0.44300948],
       [ 0.48211291,  0.4235707 ,  0.57590783]])